
<!DOCTYPE>
<head>
<style>
#p1 {color:rgba(0,0,0,1);}
#p2 {color:rgba(230, 159, 0,0.45);}
#p3 {color:rgba(86, 180, 233,0.63);}
#p4 {color:rgba(0, 158, 115,0.31);}
#p5 {color:rgba(240, 228, 66,0.6);}
#p6 {color:rgba(0, 114, 178,0.35);}
#p7 {color:rgba(213, 94, 0,0.42);}
#p8 {color:rgba(204, 121, 167,0.64);}
</style>
</head>

/*<body>

<p id="p1">Black</p>
<p id="p2">Honey</p>
<p id="p3">BabyBlue</p>
<p id="p4">Cyan</p>
<p id="p5">Yellow</p>
<p id="p6">RaceBlue</p>
<p id="p7">RedSand</p>
<p id="p8">SalmonPink</p>

</body>
/*
